POSTGRES_USER=optica
POSTGRES_PASSWORD=optica
POSTGRES_DB=optica_mia
DATABASE_URL=postgresql://optica:optica@postgres:5432/optica_mia?schema=public
RUN_SEED=false
NODE_ENV=production
ADMIN_EMAIL=admin@optica-mia.com
