--
-- PostgreSQL database dump
--

\restrict qnKqO0JUfDuxlGb5JhhOoXgLNS2j1Er1Wohzgat9GQO2s1ZyBWEk0VJlnue6fM4

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ImageAngle; Type: TYPE; Schema: public; Owner: optica
--

CREATE TYPE public."ImageAngle" AS ENUM (
    'FRONTAL',
    'LATERAL_DERECHO',
    'LATERAL_IZQUIERDO',
    'TRES_CUARTOS',
    'DETALLE'
);


ALTER TYPE public."ImageAngle" OWNER TO optica;

--
-- Name: MonturaCategoria; Type: TYPE; Schema: public; Owner: optica
--

CREATE TYPE public."MonturaCategoria" AS ENUM (
    'FORMULA',
    'SOL'
);


ALTER TYPE public."MonturaCategoria" OWNER TO optica;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: optica
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'DECLINED',
    'ERROR'
);


ALTER TYPE public."OrderStatus" OWNER TO optica;

--
-- Name: PaymentProvider; Type: TYPE; Schema: public; Owner: optica
--

CREATE TYPE public."PaymentProvider" AS ENUM (
    'WOMPI',
    'ADDI',
    'SISTECREDITO'
);


ALTER TYPE public."PaymentProvider" OWNER TO optica;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Customer; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public."Customer" (
    id text NOT NULL,
    nombre text NOT NULL,
    email text NOT NULL,
    telefono text NOT NULL,
    direccion text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "hasCompletedOnboarding" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Customer" OWNER TO optica;

--
-- Name: Favorite; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public."Favorite" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "productId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Favorite" OWNER TO optica;

--
-- Name: Montura; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public."Montura" (
    id text NOT NULL,
    referencia text NOT NULL,
    marca text,
    nombre text NOT NULL,
    categoria public."MonturaCategoria" NOT NULL,
    forma text NOT NULL,
    color text NOT NULL,
    precio numeric(10,2) NOT NULL,
    "imagenPrincipal" text NOT NULL,
    imagenes text[],
    tags text[],
    stock integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Montura" OWNER TO optica;

--
-- Name: Motor; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public."Motor" (
    id text NOT NULL,
    "productId" text NOT NULL,
    marca text,
    forma text DEFAULT 'Redonda'::text NOT NULL,
    tags text[],
    badge text,
    "imagenCatalogoUrl" text NOT NULL,
    "imagenOverlayUrl" text NOT NULL,
    "anchoRealMm" double precision NOT NULL,
    "anchoImagenPx" integer NOT NULL,
    "offsetXPx" double precision DEFAULT 0 NOT NULL,
    "offsetYPx" double precision DEFAULT 0 NOT NULL,
    "anguloBaseGrados" double precision DEFAULT 0 NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Motor" OWNER TO optica;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    total double precision NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "transactionId" text,
    "wompiStatus" text,
    "externalId" text,
    "cityValidated" boolean DEFAULT false NOT NULL,
    "customerCity" text DEFAULT ''::text NOT NULL,
    "customerEmail" text DEFAULT ''::text NOT NULL,
    "customerName" text DEFAULT ''::text NOT NULL,
    "customerPhone" text DEFAULT ''::text NOT NULL,
    "paymentProvider" public."PaymentProvider" NOT NULL,
    "paymentMethod" text
);


ALTER TABLE public."Order" OWNER TO optica;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer NOT NULL,
    price double precision NOT NULL
);


ALTER TABLE public."OrderItem" OWNER TO optica;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    price double precision NOT NULL,
    image text NOT NULL,
    categoria text NOT NULL,
    descripcion text DEFAULT ''::text NOT NULL,
    color text,
    modelo text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO optica;

--
-- Name: Sede; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public."Sede" (
    id text NOT NULL,
    nombre text NOT NULL,
    direccion text NOT NULL,
    lat double precision NOT NULL,
    lng double precision NOT NULL,
    horario text DEFAULT 'Lunes a S├íbados 8:00 - 18:00'::text NOT NULL,
    telefono text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Sede" OWNER TO optica;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO optica;

--
-- Name: client_photos; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public.client_photos (
    id text NOT NULL,
    "storageKey" text NOT NULL,
    url text NOT NULL,
    "mimeType" text DEFAULT 'image/png'::text NOT NULL,
    "sizeBytes" integer NOT NULL,
    width integer DEFAULT 1024 NOT NULL,
    height integer DEFAULT 1024 NOT NULL,
    data bytea NOT NULL,
    "customerId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.client_photos OWNER TO optica;

--
-- Name: product_images; Type: TABLE; Schema: public; Owner: optica
--

CREATE TABLE public.product_images (
    id text NOT NULL,
    "productId" text NOT NULL,
    url text NOT NULL,
    angle public."ImageAngle" DEFAULT 'FRONTAL'::public."ImageAngle" NOT NULL,
    alt text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.product_images OWNER TO optica;

--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: optica
--

COPY public."Customer" (id, nombre, email, telefono, direccion, "createdAt", "hasCompletedOnboarding") FROM stdin;
cmtue736x000001mamybsvu5g	Cliente Prueba	prueba@test.com	3017391219	Medell├¡n	2026-09-18 14:54:40.269	f
\.


--
-- Data for Name: Favorite; Type: TABLE DATA; Schema: public; Owner: optica
--

COPY public."Favorite" (id, "customerId", "productId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Montura; Type: TABLE DATA; Schema: public; Owner: optica
--

COPY public."Montura" (id, referencia, marca, nombre, categoria, forma, color, precio, "imagenPrincipal", imagenes, tags, stock, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Motor; Type: TABLE DATA; Schema: public; Owner: optica
--



--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: optica
--



--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: optica
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: optica
--



--
-- Data for Name: Sede; Type: TABLE DATA; Schema: public; Owner: optica
--

COPY public."Sede" (id, nombre, direccion, lat, lng, horario, telefono, "createdAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: optica
--



--
-- Data for Name: client_photos; Type: TABLE DATA; Schema: public; Owner: optica
--

COPY public.client_photos (id, "storageKey", url, "mimeType", "sizeBytes", width, height, data, "customerId", "createdAt") FROM stdin;
\.


--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: optica
--



--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: Favorite Favorite_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Favorite"
    ADD CONSTRAINT "Favorite_pkey" PRIMARY KEY (id);


--
-- Name: Montura Montura_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Montura"
    ADD CONSTRAINT "Montura_pkey" PRIMARY KEY (id);


--
-- Name: Motor Motor_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Motor"
    ADD CONSTRAINT "Motor_pkey" PRIMARY KEY (id);


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: Sede Sede_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Sede"
    ADD CONSTRAINT "Sede_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: client_photos client_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public.client_photos
    ADD CONSTRAINT client_photos_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: Customer_email_key; Type: INDEX; Schema: public; Owner: optica
--

CREATE UNIQUE INDEX "Customer_email_key" ON public."Customer" USING btree (email);


--
-- Name: Favorite_customerId_idx; Type: INDEX; Schema: public; Owner: optica
--

CREATE INDEX "Favorite_customerId_idx" ON public."Favorite" USING btree ("customerId");


--
-- Name: Favorite_customerId_productId_key; Type: INDEX; Schema: public; Owner: optica
--

CREATE UNIQUE INDEX "Favorite_customerId_productId_key" ON public."Favorite" USING btree ("customerId", "productId");


--
-- Name: Favorite_productId_idx; Type: INDEX; Schema: public; Owner: optica
--

CREATE INDEX "Favorite_productId_idx" ON public."Favorite" USING btree ("productId");


--
-- Name: Montura_referencia_key; Type: INDEX; Schema: public; Owner: optica
--

CREATE UNIQUE INDEX "Montura_referencia_key" ON public."Montura" USING btree (referencia);


--
-- Name: Motor_productId_key; Type: INDEX; Schema: public; Owner: optica
--

CREATE UNIQUE INDEX "Motor_productId_key" ON public."Motor" USING btree ("productId");


--
-- Name: OrderItem_orderId_idx; Type: INDEX; Schema: public; Owner: optica
--

CREATE INDEX "OrderItem_orderId_idx" ON public."OrderItem" USING btree ("orderId");


--
-- Name: OrderItem_productId_idx; Type: INDEX; Schema: public; Owner: optica
--

CREATE INDEX "OrderItem_productId_idx" ON public."OrderItem" USING btree ("productId");


--
-- Name: Order_transactionId_key; Type: INDEX; Schema: public; Owner: optica
--

CREATE UNIQUE INDEX "Order_transactionId_key" ON public."Order" USING btree ("transactionId");


--
-- Name: client_photos_customerId_idx; Type: INDEX; Schema: public; Owner: optica
--

CREATE INDEX "client_photos_customerId_idx" ON public.client_photos USING btree ("customerId");


--
-- Name: client_photos_storageKey_key; Type: INDEX; Schema: public; Owner: optica
--

CREATE UNIQUE INDEX "client_photos_storageKey_key" ON public.client_photos USING btree ("storageKey");


--
-- Name: product_images_productId_sortOrder_idx; Type: INDEX; Schema: public; Owner: optica
--

CREATE INDEX "product_images_productId_sortOrder_idx" ON public.product_images USING btree ("productId", "sortOrder");


--
-- Name: product_images_productId_sortOrder_key; Type: INDEX; Schema: public; Owner: optica
--

CREATE UNIQUE INDEX "product_images_productId_sortOrder_key" ON public.product_images USING btree ("productId", "sortOrder");


--
-- Name: Favorite Favorite_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Favorite"
    ADD CONSTRAINT "Favorite_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Favorite Favorite_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Favorite"
    ADD CONSTRAINT "Favorite_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Motor Motor_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Motor"
    ADD CONSTRAINT "Motor_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: client_photos client_photos_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public.client_photos
    ADD CONSTRAINT "client_photos_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_images product_images_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optica
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT "product_images_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict qnKqO0JUfDuxlGb5JhhOoXgLNS2j1Er1Wohzgat9GQO2s1ZyBWEk0VJlnue6fM4

